<div class="page-header">
  <div class="container">
    <h1>Router Sample</h1>
    <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/about']">about</a>
        <a [routerLink]="['/contact']">Contact Us</a>
        |
        <a [routerLink]="['/products']">Products</a>
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/protected']">Protected</a>
      </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

<pre>
  Above is:
  routing example
</pre>

<app-simple-http-client></app-simple-http-client>
<app-demo-form-sku></app-demo-form-sku>>

<div class="container">
    <products-list
    [productList]="products"
    (onProductSelected)="productWasSelected($event)"
    >
    </products-list>
  </div>

<form class="container">
  <h3 class="ui header">Add a link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
  </div>
  <button (click)="addArticle(newtitle, newlink)"
  class="btn btn-primary" tooltip="Submit link" >Submit link</button>
</form>

<div class="container">
  <app-article *ngFor="let article of sortedArticles()" [article]="article" ></app-article>
</div>
